@media only screen and (min-width: 1028px) {

    header,
    nav,
    footer,
    main {
        max-width: 75rem;
        margin: 0 auto;
    }

    nav ul {
        padding-left: 2%;
    }

    nav li {
        width: auto;
    }

    nav a {
        padding: .8rem 1rem;
    }

    main figure {
        width: 31%;
    }

    .news {
        column-count: 3;
    }
}